//! **************************************************************************
// Written by: Map O.87xd on Tue Oct 08 00:37:24 2019
//! **************************************************************************

SCHEMATIC START;
COMP "in" LOCATE = SITE "H13" LEVEL 1;
COMP "y0" LOCATE = SITE "R4" LEVEL 1;
COMP "y1" LOCATE = SITE "F4" LEVEL 1;
COMP "a" LOCATE = SITE "R17" LEVEL 1;
SCHEMATIC END;

