net "a[5]" loc ="R17";
net "a[4]" loc ="N17";
net "a[3]" loc ="L13";
net "a[2]" loc ="L14";
net "a[1]" loc ="K17";
net "a[0]" loc ="K18";
net "b[4]" loc ="H18";
net "b[3]" loc ="G18";
net "b[2]" loc ="H13";
net "b[1]" loc ="E18";
net "b[0]" loc ="D18";
net "cin" loc ="B18";
net "s[6]" loc ="R4";
net "s[5]" loc ="F4";
net "s[4]" loc ="P15";
net "s[3]" loc ="E17";
net "s[2]" loc ="K14";
net "s[1]" loc ="K15";
net "s[0]" loc ="J15";
net "cout" loc ="J14";

