net "d[0]" loc = "R17";
net "en" loc = "H13";
net "d[1]" loc = "N17";
net "d[2]" loc = "L13";
net "d[3]" loc = "L14";
net "d[4]" loc = "K17";
net "d[5]" loc = "K18";
net "d[6]" loc = "H18";
net "d[7]" loc = "G18";
net "y0" loc = "R4";
net "y1" loc = "F4";
net "y2" loc = "P15";
net "v" loc = "E17";